.tooltip-text {
    visibility:visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    white-space: nowrap;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}
