.image_div{
    position: relative;
    z-index: 1;
    margin: auto;
}

.image_div::before{
    position: absolute;
    content: '';
    top: 20px;
    right: 20px;
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 3px solid rgb(45, 45, 45);
}