@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}
.btn::before{
  background-color: #9d66ff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}
.btn{
  overflow: hidden;
}
.btn:hover::before{
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.btn span{
  position: relative;
 
}
.btn span:hover {
  color: white;
}

/* Links sublinks */
.author{
  position: relative;
}
.author-subul{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black ;
  padding: 10px;
  display: none;
  transition: display 0.3s ease-in-out;
}
.author:hover .author-subul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}